<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="UserID" value="[UserId]"/>
    <add key="Password" value="[Password]"/>
    <add key="SecretKey" value="[SecurityKey]"/>
    <add key="EnableLive" value="0"/>
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="API_Service1Soap" />
                <binding name="API_Service1Soap1">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://staging-gloremit.tranglo.com:2012/API_Service.asmx"
                binding="basicHttpBinding" bindingConfiguration="API_Service1Soap"
                contract="GloRemitNew_111.API_Service1Soap" name="API_Service1Soap" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
